.root {

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;

  width: 244px; 
  height: 40px;
  background: #333333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;

  font-size: 15px;
  line-height: 20px;
  color: white;
}

.btn:hover {
  background: #000000;
}

.card {
    
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.snippet {
  font-size: 15px;
  line-height: 20px;
}